*{
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

body{
    background-color: #A6A6A6;
    color: #384547;
}

header{
    margin: 20px 0;
    text-align: center;
}
.calculadora{
    border: 7px ridge #CB7070;
    padding: 30px 15px 20px;
    border-radius: 10px;
    background-color: #f59b9b;
    max-width: 800px;
    width: 400px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    "display display display display"
    "botoes botoes botoes botoes"
    "botoes botoes botoes botoes"
    "botoes botoes botoes botoes"
    "botoes botoes botoes botoes";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#display{
    box-sizing: border-box;
    font-size: 60px;
    grid-area: display;
    margin-bottom: 12px;
    text-align: right;
    width: 100%;
    border: 2px inset #CB7070;
    background-color: #B6FCFC;
    padding: 0 5px;
}

#botoes{
    grid-area: botoes;
}
#numeros{
    grid-area: botoes;
}

.botao{
    border-radius: 20px;
    font-size: 30px;
    margin: 2px 0;
    width: 24%;
    height: 19%;
    background-color: #FCB1B1;
    border-color: #CB7070;
    border-width: 3px;
}
